In [2]:
### データのimportと整形
import numpy as np
import pandas as pd

In [3]:
import warnings
warnings.simplefilter('ignore')

In [4]:
# ファイルの読み込み
df_jp_ind = pd.read_csv('./csv_data/雇用_医療福祉_一人当たり賃金_全国_全産業.csv', encoding='shift_jis')
df_jp_category = pd.read_csv('./csv_data/雇用_医療福祉_一人当たり賃金_全国_大分類.csv', encoding='shift_jis')
df_pref_ind = pd.read_csv('./csv_data/雇用_医療福祉_一人当たり賃金_都道府県_全産業.csv', encoding='shift_jis')
df_pref_category = pd.read_csv('./csv_data/雇用_医療福祉_一人当たり賃金_都道府県_大分類.csv', encoding='shift_jis')

In [7]:
df_jp_ind[df_jp_ind['年齢'] == '年齢計']

      集計年   年齢  所定内給与額（万円）  年間賞与その他特別給与額（万円）  一人当たり賃金（万円）
0    2010  年齢計     29.6219           79.1174     434.5804
13   2011  年齢計     29.6784           82.3747     438.5151
26   2012  年齢計     29.7757           81.9302     439.2385
39   2013  年齢計     29.5735           80.1316     435.0136
52   2014  年齢計     29.9630           84.1634     443.7198
65   2015  年齢計     30.4022           89.2692     454.0960
78   2016  年齢計     30.3988           89.4192     454.2043
91   2017  年齢計     30.4291           90.5953     455.7445
104  2018  年齢計     30.6196           93.1651     460.6006
117  2019  年齢計     30.7692           95.0934     464.3237

In [8]:
df_diff = df_jp_ind[df_jp_ind['年齢'] == '年齢計']

In [11]:
# 1行前の差分を取る
df_diff['一人当たり賃金の差分（万円）'] = df_diff['一人当たり賃金（万円）'].diff()
df_diff

      集計年   年齢  所定内給与額（万円）  年間賞与その他特別給与額（万円）  一人当たり賃金（万円）  一人当たり賃金の差分（万円）
0    2010  年齢計     29.6219           79.1174     434.5804             NaN
13   2011  年齢計     29.6784           82.3747     438.5151          3.9347
26   2012  年齢計     29.7757           81.9302     439.2385          0.7234
39   2013  年齢計     29.5735           80.1316     435.0136         -4.2249
52   2014  年齢計     29.9630           84.1634     443.7198          8.7062
65   2015  年齢計     30.4022           89.2692     454.0960         10.3762
78   2016  年齢計     30.3988           89.4192     454.2043          0.1083
91   2017  年齢計     30.4291           90.5953     455.7445          1.5402
104  2018  年齢計     30.6196           93.1651     460.6006          4.8561
117  2019  年齢計     30.7692           95.0934     464.3237          3.7231

In [12]:
# グルーピングと平均の算出
df_jp_ind.groupby('年齢')['一人当たり賃金（万円）'].mean()

年齢
20〜24歳    277.81414
25〜29歳    342.92576
30〜34歳    396.07938
35〜39歳    446.59957
40〜44歳    496.88205
45〜49歳    543.15976
50〜54歳    566.64412
55〜59歳    541.54213
60〜64歳    381.00704
65〜69歳    334.32060
70歳〜      329.82376
〜19歳      217.73694
年齢計       448.00365
Name: 一人当たり賃金（万円）, dtype: float64

In [18]:
df_jp_ind.groupby('年齢')['所定内給与額（万円）','一人当たり賃金（万円）', '年間賞与その他特別給与額（万円）'].mean()

        所定内給与額（万円）  一人当たり賃金（万円）  年間賞与その他特別給与額（万円）
年齢
20〜24歳    20.13079    277.81414          36.24459
25〜29歳    23.39559    342.92576          62.17854
30〜34歳    26.73669    396.07938          75.23903
35〜39歳    29.92850    446.59957          87.45758
40〜44歳    32.96131    496.88205         101.34630
45〜49歳    35.72125    543.15976         114.50490
50〜54歳    37.17460    566.64412         120.54884
55〜59歳    35.89715    541.54213         110.77626
60〜64歳    26.93428    381.00704          57.79566
65〜69歳    24.91573    334.32060          35.33183
70歳〜      25.14783    329.82376          28.04974
〜19歳      17.12546    217.73694          12.23127
年齢計       30.12314    448.00365          86.52595

In [24]:
df_temp = df_jp_category[df_jp_category['年齢'] == '年齢計']
df_temp.groupby('産業大分類名')['一人当たり賃金（万円）'].mean()

産業大分類名
サービス業（他に分類されないもの）    355.50502
不動産業，物品賃貸業           479.15911
医療，福祉                400.57547
卸売業，小売業              450.21691
学術研究，専門・技術サービス業      576.41645
宿泊業，飲食サービス業          319.73752
建設業                  472.16253
情報通信業                573.40888
教育，学習支援業             596.58965
生活関連サービス業，娯楽業        348.87293
製造業                  448.31834
複合サービス事業             443.97265
運輸業，郵便業              380.54166
金融業，保険業              586.94974
鉱業，採石業，砂利採取業         483.93678
電気・ガス・熱供給・水道業        612.56956
Name: 一人当たり賃金（万円）, dtype: float64

In [30]:
df_temp_2 = df_pref_ind[df_pref_ind['年齢'] == '年齢計']
df_temp_2.groupby('都道府県名')['所定内給与額（万円）','一人当たり賃金（万円）', '年間賞与その他特別給与額（万円）'].mean()

       所定内給与額（万円）  一人当たり賃金（万円）  年間賞与その他特別給与額（万円）
都道府県名
三重県        29.328      439.167            87.231
京都府        30.365      451.174            86.794
佐賀県        24.401      353.792            60.980
兵庫県        29.761      444.331            87.199
北海道        26.443      383.355            66.039
千葉県        30.079      438.660            77.712
和歌山県       27.396      403.776            75.024
埼玉県        29.829      434.440            76.492
大分県        25.207      366.647            64.163
大阪府        32.171      479.694            93.642
奈良県        29.383      428.462            75.866
宮城県        27.767      407.793            74.589
宮崎県        23.587      341.701            58.657
富山県        27.301      402.169            74.557
山口県        26.849      399.908            77.720
山形県        24.118      345.299            55.883
山梨県        27.907      413.736            78.852
岐阜県        27.837      409.802            75.758
岡山県        27.538      407.354            76.898
岩手県        23.677      338.848            54.724
島根県        24.873      361.304            62.828
広島県        28.774      426.485            81.197
徳島県        26.684      397.822            77.614
愛媛県        25.798      377.375            67.799
愛知県        31.461      484.338           106.806
新潟県        26.080      377.422            64.462
東京都        37.379      567.825           119.277
栃木県        28.891      429.107            82.415
沖縄県        23.517      327.385            45.181
滋賀県        29.456      441.808            88.336
熊本県        25.409      369.513            64.605
石川県        27.314      402.439            74.671
神奈川県       33.249      497.777            98.789
福井県        27.088      397.470            72.414
福岡県        27.963      411.046            75.490
福島県        26.054      377.343            64.695
秋田県        23.737      338.755            53.911
群馬県        28.048      413.886            77.310
茨城県        29.654      444.788            88.940
長崎県        24.724      359.831            63.143
長野県        27.637      405.727            74.083
青森県        23.237      330.338            51.494
静岡県        28.717      428.336            83.732
香川県        27.282      401.554            74.170
高知県        25.278      363.832            60.496
鳥取県        24.736      355.946            59.114
鹿児島県       24.987      360.911            61.067

In [29]:
df_temp_2.loc[df_temp_2['一人当たり賃金（万円）'].idxmax()]

集計年                   2015
都道府県コード                 13
都道府県名                  東京都
年齢                     年齢計
所定内給与額（万円）            38.3
年間賞与その他特別給与額（万円）    128.66
一人当たり賃金（万円）         588.26
Name: 3211, dtype: object

In [68]:
df_pref_category[df_pref_category['所定内給与額（万円）'] == '-']

df_pref_category['所定内給与額（万円）'] = df_pref_category['所定内給与額（万円）'].replace('-', np.nan)
df_pref_category['一人当たり賃金（万円）'] = df_pref_category['一人当たり賃金（万円）'].replace('-', np.nan)
df_pref_category['年間賞与その他特別給与額（万円）'] = df_pref_category['年間賞与その他特別給与額（万円）'].replace('-', np.nan)
df_pref_category.dropna(subset=['所定内給与額（万円）'], axis=0, inplace=True)
df_pref_category = df_pref_category.astype({'所定内給与額（万円）': float, '一人当たり賃金（万円）': float, '年間賞与その他特別給与額（万円）': float})

df_temp_3 = df_pref_category[df_pref_category['年齢'] == '年齢計']
df_temp_3_gr = df_temp_3.groupby(['都道府県名','産業大分類名'])['所定内給与額（万円）','一人当たり賃金（万円）', '年間賞与その他特別給与額（万円）'].mean()
df_temp_3_gr.loc['三重県':'京都府']

                         所定内給与額（万円）  一人当たり賃金（万円）  年間賞与その他特別給与額（万円）
都道府県名 産業大分類名
三重県   サービス業（他に分類されないもの）      25.112      351.804            50.460
      不動産業，物品賃貸業             26.517      379.899            61.695
      医療，福祉                  27.775      408.903            75.603
      卸売業，小売業                27.549      401.273            70.685
      学術研究，専門・技術サービス業        31.571      481.179           102.327
      宿泊業，飲食サービス業            23.117      308.657            31.253
      建設業                    32.007      453.922            69.838
      情報通信業                  31.075      472.130            99.230
      教育，学習支援業               35.327      540.219           116.295
      生活関連サービス業，娯楽業          25.794      361.678            52.150
      製造業                    30.540      470.424           103.944
      複合サービス事業               28.450      440.453            99.053
      運輸業，郵便業                26.873      376.430            53.954
      金融業，保険業                33.771      542.367           137.115
      鉱業，採石業，砂利採取業           29.568      410.570            55.754
      電気・ガス・熱供給・水道業          39.863      625.544           147.188
京都府   サービス業（他に分類されないもの）      25.311      359.258            55.526
      不動産業，物品賃貸業             29.196      428.024            77.672
      医療，福祉                  29.136      428.988            79.356
      卸売業，小売業                29.197      421.492            71.128
      学術研究，専門・技術サービス業        38.678      586.451           122.315
      宿泊業，飲食サービス業            24.802      332.112            34.488
      建設業                    31.027      440.294            67.970
      情報通信業                  34.177      521.492           111.368
      教育，学習支援業               41.754      664.496           163.448
      生活関連サービス業，娯楽業          26.026      355.857            43.545
      製造業                    31.429      481.247           104.099
      複合サービス事業               30.347      460.083            95.919
      運輸業，郵便業                24.672      343.902            47.838
      金融業，保険業                33.540      532.524           130.044
      鉱業，採石業，砂利採取業           29.402      405.414            52.590
      電気・ガス・熱供給・水道業          35.447      551.318           125.954